body {
    background: #a486ea;
}

.head1 {
    background-color: #af7bd5;
    height: 5rem;
    width: 17rem;
    margin: 5rem auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.img1 {
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 50%;
    padding: 0.2rem;
}

.line1 {
    height: 2.5rem;
    width: 0.1rem;
    background-color: white;
}

.flex1,
.flex3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -13rem;
}

.flex2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -1.4rem;
}

.p1 {
    color: white;
    font-family: sans-serif;
    font-size: 0.9rem;
    padding-right: 5rem;
    margin-left: 2rem;
}

.head2 {
    background-color: #5f5280;
    height: 9.91rem;
    width: 17rem;
    margin-top: -4.99rem;
    margin-left: 34.2rem;
}

.line2 {
    background-color: #afa9c0;
    height: 1.8rem;
    width: 0.1rem;
}

.circle1 {
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
    background-color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.line3 {
    background-color: #afa9c0;
    height: 0.9rem;
    width: 0.1rem;
}

.p2 {
    color: #dfdde6;
    font-family: sans-serif;
    font-size: 0.9rem;
}

.flex4 {
    margin-left: 3.3rem;
    display: flex;
    flex-direction: column;
    margin-top: -7.7rem;
}

.p3 {
    color: #dfdde6;
    font-family: sans-serif;
    font-size: 0.9rem;
    margin-top: 1.4rem;
}

.p4 {
    color: #dfdde6;
    font-family: sans-serif;
    font-size: 0.9rem;
    margin-top: 1.5rem;
}

.p2:hover {
    color: white;
    cursor: pointer;
}

.p3:hover {
    color: white;
    cursor: pointer;
}

.p4:hover {
    color: white;
    cursor: pointer;
}